body {
    box-sizing: border-box;
    color: #333;
    font-family: Roboto, Dosis, Helvetica, Arial, sans-serif;
    font-weight: 400;
  }
  
  h1 {
    margin: 0;
    font-family: Barrio, Helvetica, Arial, sans-serif;
    font-size: 3em;
    letter-spacing: 4px;
    text-shadow: 1px 2px 2px floralwhite;
  }
  
  p {
    margin: 0;
  }
  
  .flex {
    display: flex;
  }
  
  .flex--center {
    align-items: center;
    justify-content: center;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
  
  .mt5 {
    margin-top: 5em;
  }
  
  .p1 {
    padding: 1em;
  }
  
  .pt3 {
    padding-top: 3em;
  }
  
  .pv1 {
    padding: 1em 0;
  }
  
  .pv2 {
    padding: 2em 0;
  }
  
  .ph2 {
    padding: 0 2em;
  }
  
  .pr2 {
    padding-right: 2em;
  }
  
  .pl2 {
    padding-left: 2em;
  }
  
  .pv1ph2 {
    padding: 1em 2em;
  }